html {
  background: linear-gradient(lightgray, darkgray);
}
canvas {
  position: relative;
  display: block;
  height: 900px;
  width: 1200px;
  margin: 0 auto;
  background-color: black;
}
.block {
  width: 60px;
  height: 24px;
  color: white;
  background-color: white;
  z-index: 5;
}