html {
  background: linear-gradient(lightgray, darkgray);
}
canvas {
  position: relative;
  display: block;
  height: 900px;
  width: 1200px;
  margin: 0 auto;
  background-color: black;
  box-shadow: 10px 10px 5px black;
  cursor: none;
}
.block {
  width: 60px;
  height: 24px;
  color: white;
  background-color: white;
  z-index: 5;
}

#win {
  margin-left: 19%;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
}